/* Global ===================== */
:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
    /* 15px */
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif
}

#header {
    background-color: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}
#logo {
    color: #fff;
    font-weight: 100;
}